.osnova{
    width:600px;
    height: 300px;
    background:rgb(36, 197, 157);
    display: flex;
}
.forma{
    width: 350px;
    height: 190px;
    background:rgba(247, 245, 245, 0.808);
    border-radius: 25px 25px 25px 25px;
    margin:50px 20px;
    text-align:center;
}
.mail{
    margin-top: 50px;
    margin-left:40px;
   
}
.text{
color: white;
margin-top:5px;
}
.form-input{
    width: 250px;
    height: 30px;
    margin-top: 15px;
    border-radius:5px 5px 5px 5px;

}
.password{
    width: 250px;
    height: 30px;
    margin-left: 23px;
    margin-top: 5px;
    border-radius:5px 5px 5px 5px;
}
.form-button{
    width: 256px;
    height: 36px;
    margin-top: 20px;
    background:rgb(36, 197, 157);
    border-radius:5px 5px 5px 5px;
}
.textBelow{
    font-size:13px;
    color:gray;
}



